target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/**/src/main/java/META-INF
*.iml
# Include top level code styles and inspection profile
.idea/.*
.idea/*.xml
.idea/libraries
.data/
# Ignore project level .idea folders
*/.idea
/jOOQ-r2dbc/

### eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.externalToolBuilders